.text-center {
    text-align: center;
}

.center-block {
    margin: 0 auto;
    display: block;
}

#select-friends li {
    font-size: 2.0em;
}

#select-friends input[type=checkbox] {
    width: 24px;
    height: 24px;
}
